body {
    margin: 0;
    padding: 0;
}

.header {
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background: #0EA5E9;

    color: white;
}

/*Текстовка*/
.formName {
    color: #0EA5E9;
    font-weight: bold;
    text-align: center;
    margin-top: 300px;

}
.formReg {
    color: #0EA5E9;
    font-weight: bold;
    text-align: center;
    margin-top: 195px;
}
.Podpis {
    color: #0EA5E9;
    margin: auto;
    margin-top: 4px;

    width: 400px;
    height: 19px;
    font-size: 16px;
    
    font-family: 'Inter';
    font-style: italic;
}

/*Поля ввода*/
.emailinput {
    display: block;
    margin: auto;
    margin-top: 47px;
    width: 400px;
    height: 48px;

    border: 1px solid #0EA5E9;
}
.paroleinput {
    display: block;
    margin: auto;
    margin-top: 20px;

    width: 400px;
    height: 48px;

    border: 1px solid #0EA5E9;
}

/*Кнопка*/
.Button {
    display: block;
    margin: auto;
    margin-top: 20px;

    width: 200px;
    height: 36px;

    color: white;
    background: #0EA5E9;
    border: 1px solid #0EA5E9;
    border-radius: 5px;
}
.ButtonReg {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 336px;

    width: 200px;
    height: 36px;

    color: white;
    background: #0EA5E9;
    border: 1px solid #0EA5E9;
    border-radius: 5px;
}

/* Сама страница объявлений, адаптив вёрстка */
.fon {
    border: 1px solid #0EA5E9;
}
.photo {
    margin: auto;
    margin-top: 40px;
    width: 150px;
    height: 150px;
}
.phone {
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 150px;
    height: 30px;
    color: #FFFFFF;
    background: #0EA5E9;
}
.textov {
    margin: auto;
    margin-top: 40px;
    width: 400px;
    height: 100px;
    overflow: auto;
}
.coin {
    margin: auto;
    margin-top: 5px;
    width: 400px;
    height: auto;
}
.imya {
    margin: auto;
    margin-top: 10px;
    width: 400px;
    height: auto;
}

@media (min-width: 650px) {
    .oknoOsnova {
        display: flex;
        border: 1px solid #0EA5E9;
    }
    .fon2 {
        width: 20%;
    }
    .fon3 {
        width: 80%;
    }
    .fon4 {
        margin-left: 30px;
    }
    .coinAV {
        margin-top: 40px;
    }
    .imyaAV {
        margin-top: 15px;
        width: auto;
    }
}