
    .box-menu{
        width: 1440px;
        height: 100px;
        left: 0px;
        z-index: 1; 
        background: #004C93;
    }


    .box-xos{
        width: 240px;
        height: 29px;
        left: 165px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        z-index: 1;

        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .menu-strok{
        position: fixed;
        top: 44px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;

        color: #FFFFFF;
        z-index: 11;

    }

    .zaglav{
        position: absolute;
        width: 350px;
        height: 44px;
        left: 165px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;

        color: #004C93;
    }

    .text-zag{
        position: absolute;
        width: 515px;
        height: 58px;
        left: 165px;

        font-family: 'Inter';
        font-style: italic;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;

        color: #004C93;
    }

    .fon{
        position: absolute;
        width: 1440px;
        height: 541px;
        left: 0px;

        background: #F3FBFF;
    }

    .blok{
        box-sizing: border-box;
        position: absolute;
        width: 200px;
        height: 289px;

        border: 1px solid #004C93;
        border-radius: 4px;
    }

    .enot{
        position: absolute;
        width: 55px;
        height: 190px;
        left: 15px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 120px;
        line-height: 160%;
        
        color: #004C93;
    }

    .text-blok{
        position: absolute;
        width: 175px;
        height: 120px;
        top: 200px;
        left: 10px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;

        color: #2E4674;
    }

    .tablo{
        box-sizing: border-box;

        position: absolute;
        width: 555px;
        height: 32px;
        left: 165px;

        border: 1px solid #000000;
    }

    .calc-t{
        position: absolute;
        width: 170px;
        height: 22px;
        left: 165px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;

        color: #000000;
    }

    .knopka{
        position: absolute;
        width: 168px;
        height: 50px;
        left: 165px;
        top: 1754px;

        background: #004C93;
        border-radius: 5px;
    }
